body{
    background-color: #234;
}
.carousel {
 
    width: 500px;
    height: 700px;
    perspective: 1000px;
    margin-top: 250px;
    margin-left: 50px;
  
}
.carousel>div {
  
    width: 500px;
    height: 0;
    transition:1s ;
    
}
.carousel>div:nth-child(3){
    transform: rotateY(0deg);
    transform-origin: left;
   
}
.carousel>div:nth-child(2){
    transform: rotateY(0deg);
    transform-origin: left;
    filter:brightness(70%);
 
}
.carousel>div:nth-child(1){
    filter:brightness(50%);
 transform: rotateY(0deg);

}
.carousel:hover>div:nth-child(3){
    transform: rotateY(-60deg);
}
.carousel:hover>div:nth-child(2){
    transform: rotateY(-45deg);
}
